doctype html
html(lang='en')
  
 head
  style
  css
  .im1{width= 200px;}
    title Hello, World!
  body
    h1=Province
      table.pic
        td
          img(src=img1,class=im1)
        td
          img(src=img2)   
        td 
          img(src=img3)  
          
        
    
       
    